<!doctype html>
<html
        lang="nl"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.thymeleaf.org "
        >
<head>
    <title> Je bent op de gelukspagina </title>
    <link rel="stylesheet" th:href="@{/css/firma.css}"/>
</head>

<body>
<h1> Je bent op de gelukspagina. Het gelukkig nummer is 7. </h1>

<a th:href="@{/}"> startpagina </a>
</body>

</html>